<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

	<title>Vagas do estacionamento</title>
	<meta charset="utf8">
	
	<link type="text/css" rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<link type="text/css" rel="stylesheet" href="bootstrap/css/estilo.css"/>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
</head>
<body>
	
	<header>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			 <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" href="/index">Home<span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Estacionamento
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="/vagas/abertas">Vagas abertas</a>
			          <a class="dropdown-item" href="/vagas/fechadas">Vagas ocupadas</a>
			          <a class="dropdown-item" href="/estacionar/veiculo">Estacionar veiculo</a>
			        </div>
			      </li>
			       <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Veiculo
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="/veiculos">Cadastrar</a>
			          <a class="dropdown-item" href="/veiculos/cadastrados">Veiculos cadastrados</a>
			        </div>
			       </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/sair">Pagamento</a>
			      </li>
			  </ul>
				  
			</nav>
		</div>
	</header>
	
	<div class=" container">
		<span class="text-success" th:text="${#strings.isEmpty(menssagem)} ? '' : ${menssagem}"></span>
	</div>
		

	<h2 class="text-center">Cadastro de veiculos</h2>
	
	<form class="container" method="post" th:object="${veiculo}"  th:action="@{/salvar}">
	 
			<span class="text-danger" th:if="${#fields.hasErrors('nomeDoCliente')}" th:errors="*{nomeDoCliente}"></span><br/>
			<span class="text-danger" th:if="${#fields.hasErrors('placaVeiculo')}" th:errors="*{placaVeiculo}"></span><br/>
			<span class="text-danger" th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"></span><br/>
		
		<div>
			<label for="nome">Nome do Cliente</label>
	    	<input type="text" class="form-control" id="nomeDoCliente" placeholder="nome do cliente" th:field="*{nomeDoCliente}">
		</div>
			
		<div>
			<label for="placa">Placa do veiculo</label>
	    	<input name="placaVeiculo" type="text" class="form-control" id="placa" placeholder="Placa do veiculo" th:field="*{placaVeiculo}">
		</div>
		
		<div>
			<label for="cidade">Cidade</label>
	    	<input name="cidade" type="text" class="form-control" id="cidade" placeholder="Cidade" th:field="*{cidade}">
		</div>
			
		<div>
			<span th:if="${#fields.hasErrors('uf')}" th:errors="*{uf}"></span>
			<label for="uf">UF</label>
			    <select name="uf" class="form-control" id="uf" th:field="*{uf}">
			      <option th:each="uf: ${estados}" th:text="${uf}" th:value="${uf}"></option>
			    </select>
		</div>
		<div>
			<button type="submit" class="btn btn-primary" style="margin-top: 5px">Cadastrar</button>
		</div>
	</form>
</body>
</html>